*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: aqua;
}
.nav-items{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navbar input{
    padding: 10px;
    border-radius: 20px;
    width: 19vw;
}
.nav-items div{
    padding: 10px;
    font-size: 18px;
}