*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background-color: lightgray;
}
.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 10px;
}
.navbar ul li{
    font-size: 20px;
    font-weight: 500;
    padding:5px;
}