*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
input{
    padding: 10px;
    margin: 10px;
}
button{
    border: 1px solid black inset;
    padding: 10px;
    margin: 10px;
}

/* react-router-dom */
h2{
    margin-top:100px ;
    text-align: center;
    font-weight: 700;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(72, 148, 210);
    width: 100%;
    height: 40px;
}

a{
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    color: white;
    transition: 0.3s;
}

a:hover{
    color: #f0f0f0;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}