body{
    width: 100%;
    height: 100%;
}
input{
    padding: 10px;
    margin: 10px;
    font-weight: 700;
}
.task{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

ul{
    width: 100px;
    border: 1px solid black;
    margin: 10px;
    padding:10px;
    background-color: antiquewhite;
}
ul li{
    text-decoration: none;
    padding: 10px;
}
